@import "../../../../../assets/styles/colors.scss";

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1024; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #f5f5f5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #363030;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav h5 {
    margin-top: -30px;
    margin-left: 20px;
}


#overlay {

   z-index: 1021;
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba($color: #000000,$alpha: 0.5);
   cursor: not-allowed; /*inhabilitar el cursor del mouse*/
}

.product {
    margin: 10px;
    padding: 12px;
}


.price {
    font-size: 17px;
    font-weight: 800;
    color: $price-primary;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 12px;
}
#total {
    float: right;
}
.price span {

    font-size: 18px;
    font-weight: 400;
    color: $price-discount;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 12px;
    text-decoration: line-through;
}

.price span.discount-percentage {
    text-decoration: none;
}


.price-total {
    font-weight: bold; 
    font-size: 25px;  
    margin-top: -7px;
}

#opts-cart {
    float: right;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
