* {
    color: rgba(255,255,255, $alpha: .80)
}
.logotype {
    width: 25%;
    text-align: left;
    margin:5px 0px 5px 10px;
}

p, .list-link a {
    position: relative;
}

p {
    top: 25%;
}

.list-link a {
    top: 14%;
}