<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (ngSubmit)="resetPassword($event)" #forma="ngForm">
        <h1>Cambiar contraseña</h1>
        <p>Aquí podrá actualizar la contraseña de su cuenta</p>

        <label for="password"><b>Password</b></label>
        <input
          class="form-control"
          #password="ngModel"
          [(ngModel)]="passData.password"
          type="password"
          placeholder="Ingrese un password"
          name="password"
          required
          [ngClass]="{
            'is-valid': !password.invalid,
            'is-invalid': password.invalid
          }"
        />

        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger mt-2"
        >
          Password inválido
        </div>

        <label for="confirm_password"><b>Confirm Password</b></label>
        <input
          class="form-control"
          #confirm_password="ngModel"
          [(ngModel)]="passData.confirm_password"
          type="password"
          placeholder="Confirmar el password"
          name="confirm_password"
          required
          [ngClass]="{
            'is-valid': !confirm_password.invalid,
            'is-invalid': confirm_password.invalid
          }"
        />

        <div
          *ngIf="
            confirm_password.invalid &&
            (confirm_password.dirty || confirm_password.touched)
          "
          class="alert alert-danger mt-2"
        >
          Confirmación inválida
        </div>

        <div class="row">
          <div class="col-lg">
            <button type="submit" class="signup-btn" [disabled]="!forma.valid">
              Actualizar contraseña
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg"></div>
  </div>
</div>
