.fa-circle-check {
    color: #28a745;
}

.fa-circle-xmark {
    color: #dc3545;
}

.lock {
    background-color: #dc3545;
    border: none;
}

.unlock {
    background-color: #28a745;
    border: none;
}