<div class="container">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-1">
      <!-- Va contener la lista de imagenes que se cargaran al darle click a alguna-->
      <img *ngFor="let screen of screenShots"
        class="img-fluid mini"
        [src]="screen"
        alt=""
        (click)="changeImage(screen)"
      />
    </div>
    <div class="col-md-7">
      <img class="img-fluid" [src]="selectedImage" alt="" />
    </div>

    <div class="col-md-4">
      <h4 class="my-3">{{ product.name }} ({{product.description}})</h4>
      <div class="row">
        <div class="col-lg-12">
          <shop-rating [rating]="product.rating"></shop-rating>
        </div>
        <div class="col-lg-12">
          <div class="price" *ngIf="product.discount; else noDiscount">
            {{ currencySelected }}{{ product.price | number }}
            <span> {{ currencySelected }}{{ product.price | number }} </span>
            <span class="discount-percentage">
              ({{ product.discount }} %)
            </span>
          </div>
          <ng-template #noDiscount>
            <div class="price">
              {{ currencySelected }}{{ product.price | number }}
            </div>
          </ng-template>
        </div>
        <div class="col-lg-12">
          Stock: {{ product.stock }}

          <hr />

          <shop-qty-selector
            [qty]="product.qty"
            [stock]="product.stock"
            (updateValue)="changeValue($event)"
          ></shop-qty-selector>
        </div>
      </div>
      <br>
      <span class="h5">Plataformas:</span>&nbsp;
      <select name="" id="" (change)="changePlatformSearch($event.target.value)" >
        <option [value]="product.id">{{product.description}}</option>
        <option [value]="opt.id" *ngFor="let opt of platforms">{{opt.platform.name}}</option>
      </select>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Juegos relacionados con la plataforma</h3>

  <div class="row">
    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://via.placeholder.com/500x300"
          alt=""
        />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://via.placeholder.com/500x300"
          alt=""
        />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://via.placeholder.com/500x300"
          alt=""
        />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://via.placeholder.com/500x300"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://via.placeholder.com/500x300"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://via.placeholder.com/500x300"
          alt=""
        />
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
